body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif !important;
    background-color: rgb(238, 238, 238) !important;
}

#sidenav {
    width: 100%;
    max-width: 15.625rem !important;
    overflow-y: auto;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    z-index: 1030;
}

.mdi {
    font-size: 1.67rem;
    color: black;
    margin-left: 2%;
    margin-right: 2%;
}

.cursor-pointer {
    cursor: pointer;
}

#sidenav .mdi {
    color: #FEFEFE !important;
}

#sidenav-header {
    height: 10%;
    background-color: #A13333;
}

#sidenav-logo {
    height: 100%;
    width: auto;
}

#sidenav-content li a {
    background-color: #FEFEFE;
    border-radius: 10px;
    color: #A13333;
}

#sidenav-content li a.inactive .mdi::before {
    color: #A13333;
}

#sidenav-content li a.active {
    background-color: #A13333;
    color: #FEFEFE;
}

#sidenav-footer {
    height: 10%;
    background-color: #A13333;
}

#main {
    margin-left: 17.125rem;
    transition: all 0.2s ease-in-out;
    overflow-y: auto;
}

#main-navbar {
    background-color: #A13333;
    color: #FEFEFE;
    border-radius: 5px;
}

#main-content img {
    max-width: auto;
    max-height: 30%;
}

.card {
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 20px;
    transition: transform .3s;
}

.card-header {
    background-color: #A13333 !important;
}

.card-color-dashboard {
    background-color: #A13333 !important;
    color: white;
}

.card-title{
    padding: 0!important;
    margin: 0 5px 0 5px!important;
    font-weight: bold;
    font-size: calc((100vw/100)*1.5);
}

.text1 {
    font-size: 15px;
    color: #a39ea3;
}

.info {
    margin-top: 20px;
    line-height: 10px;
}

.ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.active-color {
    color: black !important;
    font-weight: bold;
}

.box-shadow-product, .items-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.center-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-vertical {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {

    i.mdi-menu {
        display: block !important;
    }

    #sidenav {
        background-color: #FEFEFE;
    }

    #sidenav.unpinned {
        transform: translateX(-17.125rem);
    }

    #sidenav.pinned {
        transform: translateX(0);
    }

    #sidenav.pinned .mdi-close {
        display: block !important;
    }

    #main {
        margin-left: 0 !important;
    }

    #main .container {
        padding: 0 !important;
        margin-right: 3%;
        margin-left: 3%;
    }
}
